<footer class="relative overflow-hidden border-t border-accent/10 bg-black">
  <!-- Background image -->
  <div
    class="absolute inset-0 bg-cover bg-center bg-[url('/images/bg-footer.png')]"
  >
  </div>

  <!-- Dark overlay -->
  <div class="absolute inset-0 bg-black/75"></div>

  <!-- Main content -->
  <div
    class="relative z-10 max-w-7xl mx-auto px-6 py-10 flex flex-col justify-center lg:flex-row items-center gap-10"
  >
    <!-- Left -->
    <div class="flex-1 max-w-100">
      <!-- Top line -->
      <div class="flex items-center justify-between mb-5">
        <div class="h-px w-20 lg:w-30 bg-accent"></div>

        <span
          class="text-accent uppercase tracking-[0.3em] text-xs font-medium"
        >
          Desde 2017
        </span>

        <div class="h-px w-20 lg:w-30 bg-accent"></div>
      </div>

      <!-- Title -->
      <h2
        class="font-playfair text-center text-5xl md:text-6xl text-white leading-none tracking-tight"
      >
        GOD’S HANDS
      </h2>

      <!-- Subtitle -->
      <div class="flex items-center justify-between px-2 mt-4 mb-8">
        <div class="h-px w-8 lg:w-12 bg-accent"></div>

        <p class="text-accent uppercase tracking-[0.2em] text-lg md:text-lg">
          By: Miguel Segura
        </p>

        <div class="h-px w-8 lg:w-12 bg-accent"></div>
      </div>

      <!-- Description -->
      <div
        class="space-y-2 text-center [&_p]:text-white/70 [&_p]:uppercase [&_p]:tracking-[0.25em] [&_p]:text-sm [&_p]:md:text-base"
      >
        <p>Barbería Profesional</p>

        <p>Estilo • Precisión • Confianza</p>
      </div>
    </div>

    <!-- Right logo -->
    <div class="flex justify-center items-center">
      <img
        src="/images/logo-removebg-new.png"
        alt="God's Hands Logo"
        class="w-55 md:w-[320px] object-contain drop-shadow-[0_0_30px_rgba(212,175,55,0.25)]"
      />
    </div>
  </div>
</footer>
