---
const { title } = Astro.props;
---

<header
  class="fixed top-0 left-0 z-50 flex w-full items-center justify-between bg-(--midnight-navy)/20 px-6 py-6 backdrop-blur-md"
>
  <a href="/" class="font-serif text-xl font-bold tracking-tighter">
    <span class="text-(--byzantine-gold)">GOD'S</span> HANDS
  </a>

  <button
    aria-label="Abrir menú"
    class="group flex h-10 w-10 flex-col items-end justify-center gap-1.5"
  >
    <div
      class="h-[1.5px] w-8 bg-(--byzantine-gold) transition-all group-hover:w-6"
    >
    </div>
    <div
      class="h-[1.5px] w-6 bg-(--byzantine-gold) transition-all group-hover:w-8"
    >
    </div>
  </button>
</header>
